<link rel="shortcut icon" href="/images/trendy-logo-64.png" />
<link rel="stylesheet" type="text/css" href="/index.css" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

<div class="header-content">
  <img alt="logo" class="logo" src="/images/trendy-logo.png" />
</div>
<div class="header-content">
  <div class="gn">Water</div>
  <div class="gn">불꽃</div>
  <div class="gn">About</div>
</div>
